// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "./app.utils.scss";

.item .item-inner {
    margin-right: 16px;
    padding-right: 0;
    border-bottom: 1px solid #c8c7cc;
}
.ion-item {
    background-color: transparent;
}